In [8]:
import pandas
df = pandas.read_csv('Volcanoes.txt')
df

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997
...,...,...,...,...,...,...,...,...,...,...
57,580.0,1210-03-,Valles Caldera,US-New Mexico,Pleistocene-Fumarolic,3430.0,Caldera,Q,35.869999,-106.570999
58,581.0,1209-02-,Sunset Crater,US-Arizona,Dendrochronology,2447.0,Cinder cone,D6,35.369999,-111.501000
59,584.0,1203-20-,Amboy,US-California,Holocene,288.0,Cinder cone,U,34.549999,-115.780998
60,586.0,1210-02-,Zuni-Bandera,US-New Mexico,Anthropology,2550.0,Volcanic field,D7,34.799999,-108.001000
61,588.0,1210-01-,Carrizozo,US-New Mexico,Holocene,1731.0,Cinder cone,U,33.780102,-105.931000

In [9]:
lats_lons = df.loc[:, "LAT":"LON"]

In [10]:
print(lats_lons)

          LAT         LON
0   48.776798 -121.810997
1   48.111801 -121.111000
2   46.869801 -121.751000
3   46.199799 -122.181000
4   46.205799 -121.490997
..        ...         ...
57  35.869999 -106.570999
58  35.369999 -111.501000
59  34.549999 -115.780998
60  34.799999 -108.001000
61  33.780102 -105.931000

[62 rows x 2 columns]

In [11]:
print(type(lats_lons))

<class 'pandas.core.frame.DataFrame'>

In [12]:
obj = lats_lons.to_numpy()

In [13]:
print(obj)

[[  48.7767982 -121.810997 ]
 [  48.1118011 -121.1110001]
 [  46.8698006 -121.7509995]
 [  46.1997986 -122.1809998]
 [  46.2057991 -121.4909973]
 [  45.8797989 -122.0810013]
 [  45.9297981 -121.8209991]
 [  45.3737984 -121.6910019]
 [  44.6917992 -121.8010025]
 [  44.4197998 -121.7710037]
 [  44.3797989 -121.9309998]
 [  44.3317986 -121.8310013]
 [  44.2848015 -121.8410034]
 [  44.1697998 -121.7710037]
 [  44.0998001 -121.7710037]
 [  43.9788017 -121.6809998]
 [  43.7218018 -121.2210007]
 [  43.5698013 -121.8209991]
 [  43.5119019 -120.8610001]
 [  43.240799  -122.1009979]
 [  43.4719009 -120.7509995]
 [  43.3609009 -120.6610031]
 [  42.9299011 -122.1210022]
 [  44.4299011 -110.6709976]
 [  43.0998993 -118.7509995]
 [  43.1498985 -117.4710007]
 [  42.9999008 -117.8010025]
 [  43.419899  -113.5009995]
 [  43.4999008 -112.4509964]
 [  43.1799011 -114.3509979]
 [  42.6058998 -117.5810013]
 [  41.5798988 -121.5709991]
 [  42.8799019 -113.2210007]
 [  41.419899  -122.2009964]
 [  41.1778984 -121.4410019]
 [  40.9548988 -121.3610001]
 [  40.7798996 -121.6009979]
 [  40.6799011 -121.5510025]
 [  40.6299019 -120.8310013]
 [  40.4919014 -121.5009995]
 [  38.9698982 -122.7710037]
 [  39.3749008 -119.7210007]
 [  39.6500015 -107.0309982]
 [  37.9999008 -119.0309982]
 [  38.9700012 -112.5009995]
 [  37.8799019 -119.0009995]
 [  37.6918983 -119.0210037]
 [  37.6999016 -118.8710022]
 [  37.5798988 -119.0510025]
 [  37.0199013 -117.4509964]
 [  37.5800018 -112.6709976]
 [  37.257     -113.6210022]
 [  37.3279991 -112.401001 ]
 [  36.3578987 -118.3209991]
 [  36.0298996 -117.8209991]
 [  36.3800011 -113.1309967]
 [  34.75      -116.6210022]
 [  35.8699989 -106.5709991]
 [  35.3699989 -111.5009995]
 [  34.5499992 -115.7809982]
 [  34.7999992 -108.0009995]
 [  33.7801018 -105.9309998]]

In [14]:
elevs = list(df["ELEV"])

In [15]:
elevs.sort()

In [16]:
print(elevs.sort())

None

In [17]:
print(elevs)

[288.0, 752.0, 1174.0, 1230.0, 1259.0, 1329.0, 1415.0, 1418.0, 1435.0, 1439.0, 1465.0, 1473.0, 1478.0, 1495.0, 1501.0, 1555.0, 1604.0, 1631.0, 1631.0, 1652.0, 1664.0, 1698.0, 1700.0, 1711.0, 1731.0, 1800.0, 1806.0, 1956.0, 2005.0, 2095.0, 2121.0, 2135.0, 2163.0, 2191.0, 2230.0, 2376.0, 2400.0, 2412.0, 2434.0, 2447.0, 2487.0, 2549.0, 2550.0, 2629.0, 2748.0, 2763.0, 2796.0, 2805.0, 2840.0, 2886.0, 3074.0, 3157.0, 3187.0, 3199.0, 3213.0, 3285.0, 3390.0, 3426.0, 3430.0, 3742.0, 4317.0, 4392.0]

In [18]:
df["ELEV"].mean()

2212.3225806451615

In [19]:
df["ELEV"].median()

2128.0

In [20]:
df["ELEV"].mode()

0    1631.0
dtype: float64

In [21]:
df["ELEV"].max()

4392.0